<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a href="/">Home</a></li>
                <li class="main-header__item"><a href="/users">User List</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>I usually don't like working on front-end but God is with me this time and I am closer to him than ever before</h1>
        <form class="praise-form" action="/users" method="POST">
            <div class="form-control">
                <label for="title">If you praise God then type Amen & your name!</label>
                <input type="text" name="title" id="title">
            </div>

            <button type="submit">Send Praise</button>
        </form>
    </main>
</body>
</html>