<main>
    <h1>I usually don't like working on front-end but God is with me this time and I am closer to him than ever before</h1>
    <form class="praise-form" action="/add-user" method="POST">
        <div class="form-control">
            <label for="title">If you praise God then type Amen and your name!</label>
            <input type="text" name="userName" id="title">
        </div>

        <button type="submit">Send Praise</button>
    </form>
</main>
