<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ pageTitle }}</title>
    {{#if homeCSS}}
        <link rel="stylesheet" href="/css/home.css">
    {{/if}}
    {{#if usersCSS}}
        <link rel="stylesheet" href="/css/users.css">
    {{/if}}
</head>
<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a class="{{#if activeUsersPage}}active{{/if}}" href="/">User List</a></li>
                <li class="main-header__item"><a class="{{#if activeAddUsersPage}}active{{/if}}" href="/users">Add Users</a></li>
            </ul>
        </nav>
    </header>
    {{{ body }}}
</body>
</html>