<main>
    {{#if products}}
        {{#each products}}
        <ul>
            <li>
                <p>{{this.productData.title}} ({{this.qty}})</p>
                <form action="/cart-delete-item" method="POST">
                    <button class="btn" type="submit">Delete</button>
                    <input type="hidden" value={{this.productData.id}} name="productId">
                </form>
            </li>
        </ul>
        {{/each}}
    {{else}}
        <h1>No products in Cart</h1>
    {{/if}}
</main>