<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ pageTitle }}</title>
    <link rel="stylesheet" href="/css/main.css">
    {{#if productCSS}}
        <link rel="stylesheet" href="/css/product.css">
    {{/if}}
    {{#if mainCSS}}
        <link rel="stylesheet" href="/css/main.css">
    {{/if}}
    {{#if formCSS}}
        <link rel="stylesheet" href="/css/forms.css">
    {{/if}}
</head>
<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a class="{{#if (eq activePage '/')}}active{{/if}}" href="/">Shop</a></li>
                <li class="main-header__item"><a class="{{#if (eq activePage '/products')}}active{{/if}}" href="/products">Products</a></li>
                <li class="main-header__item"><a class="{{#if (eq activePage '/cart')}}active{{/if}}" href="/cart">Cart</a></li>
                <li class="main-header__item"><a class="{{#if (eq activePage '/orders')}}active{{/if}}" href="/orders">Orders</a></li>
                <li class="main-header__item"><a class="{{#if (eq activePage '/add-product')}}active{{/if}}" href="/admin/add-product">Add product</a></li>
                <li class="main-header__item"><a class="{{#if (eq activePage '/admin/products')}}active{{/if}}" href="/admin/products">Admin Products</a></li>
            </ul>
        </nav>
    </header>
    {{{ body }}}
</body>
</html>